<!DOCTYPE html>
<html dir="$direction" lang="$lang">
<head>

	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="$Description" name="description">
	<meta content="ie=edge" http-equiv="X-UA-Compatible">

  <!-- @Facebook Open Graph -->
  <!-- <meta property="og:type" content="website">
  <meta property="og:url" content="$Website_URL">
  <meta property="og:title" content="$OpenGraph_Title">
  <meta property="og:image" content="$OpenGraph_Image">
  <meta property="og:description" content="$OpenGraph_Description">
  <meta property="og:site_name" content="$OpenGraph_Sitename">
  <meta property="og:locale" content="$OpenGraph_Locale">

  <!-- @Twitter Open Graph -->
  <!-- <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="$OpenGraph_TwitterAccount">
  <meta name="twitter:url" content="$Website_URL">
  <meta name="twitter:title" content="$OpenGraph_Title">
  <meta name="twitter:description" content="$OpenGraph_Description">
  <meta name="twitter:image" content="$OpenGraph_Image"> -->

  <!-- @Android colors -->
	<!-- <meta content="$Android_color" name="theme-color">
	<meta content="$Android_color" name="msapplication-navbutton-color">
	<meta content="$Android_color" name="apple-mobile-web-app-status-bar-style"> -->

	<title>$Title</title>


  <!-- @Favicon -->
	<!-- <link href="img/favicon.ico" rel="shortcut icon"> -->
	<link href="css/materialize.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="css/main.min.css" rel="stylesheet">
</head>
<body>

  <!-- @NoScript -->
  <!-- <noscript>Vous devez activer JavaScript pour voir ce site.</noscript> -->

  <header></header>
  <main>
    <div class="section-1"></div>
    <div class="section-2"></div>
    <div class="section-3"></div>
    <div class="section-4"></div>
    <div class="section-5"></div>
  </main>
  <footer></footer>

	<script src="js/jquery.min.js"></script>
  <script src="js/materialize.min.js"></script>
  <script src="js/main.min.js"></script>
</body>
</html>
