/*------------------------------------*\
    $GLOBAL
\*------------------------------------*/
$rhino: #293462;
$elm: #216583;
$blue-lagoon: #00818a;
$lightning-yellow: #f7be16;

.rhino{background-color: $rhino !important;}
.rhino-text{color: $rhino !important;}
.elm{background-color: $elm !important;}
.elm-text{color: $elm !important;}
.blue-lagoon{background-color: $blue-lagoon !important;}
.blue-lagoon-text{color: $blue-lagoon !important;}
.lightning-yellow{background-color: $lightning-yellow !important;}
.lightning-yellow-text{color: $lightning-yellow !important;}



/*------------------------------------*\
    $HEADER
\*------------------------------------*/
header{

}



/*------------------------------------*\
    $1
\*------------------------------------*/
.section-1{

}



/*------------------------------------*\
    $2
\*------------------------------------*/
.section-2{

}



/*------------------------------------*\
    $3
\*------------------------------------*/
.section-3{

}



/*------------------------------------*\
    $4
\*------------------------------------*/
.section-4{

}



/*------------------------------------*\
    $5
\*------------------------------------*/
.section-5{

}



/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
footer{

}
