/*------------------------------------*\
    $GLOBAL
\*------------------------------------*/
$rhino: #293462;
$elm: #216583;
$blue-lagoon: #00818a;
$lightning-yellow: #f7be16;

.rhino{background-color: $rhino !important;}
.rhino-text{color: $rhino !important;}
.elm{background-color: $elm !important;}
.elm-text{color: $elm !important;}
.blue-lagoon{background-color: $blue-lagoon !important;}
.blue-lagoon-text{color: $blue-lagoon !important;}
.lightning-yellow{background-color: $lightning-yellow !important;}
.lightning-yellow-text{color: $lightning-yellow !important;}



/*------------------------------------*\
    $HEADER
\*------------------------------------*/
header{

}



/*------------------------------------*\
    $1
\*------------------------------------*/
.section-1{

}



/*------------------------------------*\
    $2
\*------------------------------------*/
.section-2{

}



/*------------------------------------*\
    $3
\*------------------------------------*/
.section-3{

}



/*------------------------------------*\
    $4
\*------------------------------------*/
.section-4{

}



/*------------------------------------*\
    $5
\*------------------------------------*/
.section-5{

}



/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
footer{

}



/*------------------------------------*\
    $RESPONSIVE-STYLES
\*------------------------------------*/
// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;


@media #{$small-and-down} {}
@media #{$medium-and-up} {}
@media #{$medium-and-down} {}
@media #{$large-and-up} {}
@media #{$extra-large-and-up} {}
